.searchList-box-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(94, 94, 94, 0.2);
  width: 30%;
  height: 500px;
  border-radius: 15px;
  padding: 10px 0px;
}

.style-searchList {
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 10px 0px;
}
.items-not {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(163, 163, 163);
}
.style-searchList .searchList-box {
  border-bottom: 1px solid rgb(79, 79, 79);
  word-break: break-all;
  font-size: 0.8rem;
  color: white;
}

.style-searchList .searchList-box ul {
  margin: 30px;
}

.style-searchList .searchList-box:last-child {
  border-bottom: none;
}
::-webkit-scrollbar {
  display: none;
}
